# **Casting**

In [ ]:
string_num = "225"
print(type(string_num))
# Output class 'str'

# converting str to integer
num1 = int(string_num)

print("Integer number 1:", num1)
# Output 225
print(type(num1))
# Output class 'int'

<class 'str'>
Integer number 1: 225
<class 'int'>

In [ ]:
#Casting float type to complex type
r_num = 53.250
print(type(r_num))  # class 'float'

# converting float to complex(x)
c_num = complex(r_num)

print("Complex number:", c_num)
# Output (53.25+0j)
print(type(c_num))  
# class 'complex'

# converting float to complex(x, y)
r_num, i_num2 = 53.250, 350.750
c_num = complex(r_num, i_num2)

print("Complex number:", c_num)
# Output (53.25+350.75j)
print(type(c_num))
# class 'complex'

<class 'float'>
Complex number: (53.25+0j)
<class 'complex'>
Complex number: (53.25+350.75j)
<class 'complex'>

In [ ]:
# OOPs: Object Oriented Programming Language:
# Features of OOPS
# Object: Real word Entity.
# Class: Bule Print of the object. It is a collection fo various methods and variables.
# Data Encapsulation:

# **Objects and Classes**

In [ ]:
#Objects and Classes
# syntax: class class_name

class Employee:
    # class variables
    company_name = 'ABC Company'
    #def __init__(self): # default

    # constructor to initialize the object
    def __init__(self, name, salary): # parameterized
        # instance variables
        self.name = name
        self.salary = salary

    # instance method
    def show(self):
        print('Employee:', self.name, self.salary, self.company_name)

# create first object
# object name = Class_name
emp1 = Employee("Harry", 12000)
emp1.show()  # dot(.) operator is used to access anything from the same class.

# create second object
emp2 = Employee("Emma", 10000)
emp2.show()

Employee: Harry 12000 ABC Company
Employee: Emma 10000 ABC Company

# **Constructor**

In [ ]:
#constructor
# contructor can parameterized, and it can be default.
class Employee:
  #def __init__(): #default constructor
    # parameterized constructor
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

    # display object
    def show(self):
        print(self.name, self.age, self.salary)

# creating object of the Employee class
emma = Employee("Imran",23,700)
emma.show()

#kelly = Employee('Kelly', 25, 8500)
#kelly.show()

Imran 23 700

In [ ]:
#Python does not support constructor overloading.
#If we define multiple constructors then, the interpreter will considers only the last constructor and 
#throws an error if the sequence of the arguments doesnâ€™t match as per the last constructor.
class Student:
    # one argument constructor
    def __init__(self, name):
        print("One arguments constructor")
        self.name = name

    # two argument constructor
    def __init__(self, name, age):
        print("Two arguments constructor")
        self.name = name
        self.age = age

# creating first object
#emma = Student('Emma')

# creating Second object
kelly = Student('Kelly', 13)

Two arguments constructor

In [ ]:
#Constructor chaining is the process of calling one constructor from another constructor.
# Constructor chaining is useful when you want to invoke multiple constructors, one after another, by initializing only one instance.
#In Python, constructor chaining is convenient when we are dealing with inheritance. When an instance of a child class is initialized,
# the constructors of all the parent classes are first invoked and then, in the end, the constructor of the child class is invoked.

class Vehicle:
    # Constructor of Vehicle
    def __init__(self, engine):
        print('Inside Vehicle Constructor')
        self.engine = engine

class Car(Vehicle):
    # Constructor of Car
    def __init__(self, engine, max_speed):
        super().__init__(engine)
        print('Inside Car Constructor')
        self.max_speed = max_speed

class Electric_Car(Car):
    # Constructor of Electric Car
    def __init__(self, engine, max_speed, km_range):
        super().__init__(engine, max_speed)
        print('Inside Electric Car Constructor')
        self.km_range = km_range

# Object of electric car
ev = Electric_Car('1500cc', 240, 750)
print(f'Engine={ev.engine}, Max Speed={ev.max_speed}, Km range={ev.km_range}')

Inside Vehicle Constructor
Inside Car Constructor
Inside Electric Car Constructor
Engine=1500cc, Max Speed=240, Km range=750

In [ ]:
#A destructor is called when an object is deleted or destroyed. 
#Destructor is used to perform the clean-up activity before destroying the object, such as closing database connections or filehandle.
#Python has a garbage collector that handles memory management automatically. For example, it cleans up the memory when an object goes out of scope.
#The magic method __del__() is used as the destructor in Python

class Student:

    # constructor
    def __init__(self, name):
        print('Inside Constructor')
        self.name = name
        print('Object initialized')

    def show(self):
        print('Hello, my name is', self.name)

    # destructor
    def __del__(self):
        print('Inside destructor')
        print('Object destroyed')

# create object
s1 = Student('Emma')
s1.show()

# delete object
del s1

Inside Constructor
Object initialized
Hello, my name is Emma
Inside destructor
Object destroyed

# **Encapsulation in Python**

In [ ]:
# Encapsulation in Python

class Employee:
    # constructor
    def __init__(self, name, salary, project):
        # data members
        self.name = name
        self.salary = salary
        self.project = project

    # method
    # to display employee's details
    def show(self):
        # accessing public data member
        print("Name: ", self.name, 'Salary:', self.salary)

    # method
    def work(self):
        print(self.name, 'is working on', self.project)

# creating object of a class
emp = Employee('Jessa', 8000, 'NLP')

# calling public method of the class
emp.show()
emp.work()

Name:  Jessa Salary: 8000
Jessa is working on NLP

In [ ]:
# Private member:

class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary
        
    # public instance methods
    def show(self):
        # private members are accessible from a class
        print("Name: ", self.name, 'Salary:', self.__salary)

# creating object of a class
emp = Employee('Jessa', 10000)

# calling public method of the class
emp.show()

Name:  Jessa Salary: 10000

# **Polymorphism**

In [ ]:
class Shape:
    # function with two default parameters
    def area(self, a, b=0):   # a = 10, B = 20
        if b > 0:
            print('Area of Rectangle is:', a * b)
        else:
            print('Area of Square is:', a ** 2) 

a1 = Shape()
a1.area(3)

rectangle = Shape()
rectangle.area(2,10)

Area of Square is: 9
Area of Rectangle is: 20

# **Inheritance**

In [ ]:
#Inheritance 
# Base class
class Vehicle:
  a = 10
  def Vehicle_info(self):
        print('Inside Vehicle class')

# Child class
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

# Create object of Car
car = Car()
print(car.a)

# access Vehicle's info using car object
car.Vehicle_info()
car.car_info()

10
Inside Vehicle class
Inside Car class

In [ ]:
# Python Multiple Inheritance
# Parent class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person class')
        print('Name:', name, 'Age:', age)

# Parent class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company class')
        print('Name:', company_name, 'location:', location)

# Child class
class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)

# Create object of Employee
emp = Employee()

# access data
emp.person_info('Jessa', 28)
emp.company_info('Google', 'Atlanta')
emp.Employee_info(12000, 'Machine Learning')

Inside Person class
Name: Jessa Age: 28
Inside Company class
Name: Google location: Atlanta
Inside Employee class
Salary: 12000 Skill: Machine Learning

In [ ]:
# Multilevel Inheritance: 
# Base class
class Vehicle:
    def Vehicle_info(self):
        print('Inside Vehicle class')

# Child class
class Car(Vehicle):
    def car_info(self):
        print('Inside Car class')

# Child class
class SportsCar(Car):
    def sports_car_info(self):
        print('Inside SportsCar class')

# Create object of SportsCar
s_car = SportsCar()

# access Vehicle's and Car info using SportsCar object
s_car.Vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class

In [ ]:
#Hierarchical Inheritance
class Vehicle:
    def info(self):
        print("This is Vehicle")

class Car(Vehicle):
    def car_info(self, name):
        print("Car name is:", name)

class Truck(Vehicle):
    def truck_info(self, name):
        print("Truck name is:", name)

obj1 = Car()
obj1.info()
obj1.car_info('BMW')

obj2 = Truck()
obj2.info()
obj2.truck_info('Ford')

This is Vehicle
Car name is: BMW
This is Vehicle
Truck name is: Ford

In [ ]:
#Hybrid Inheritance
class Vehicle:
    def vehicle_info(self):
        print("Inside Vehicle class")

class Car(Vehicle):
    def car_info(self):
        print("Inside Car class")

class Truck(Vehicle):
    def truck_info(self):
        print("Inside Truck class")

# Sports Car can inherits properties of Vehicle and Car
class SportsCar(Car, Vehicle):
    def sports_car_info(self):
        print("Inside SportsCar class")

# create object
s_car = SportsCar()

s_car.vehicle_info()
s_car.car_info()
s_car.sports_car_info()

Inside Vehicle class
Inside Car class
Inside SportsCar class

In [ ]:
#When a class inherits all properties and behavior from the parent class is called inheritance.
#In such a case, the inherited class is a subclass and the latter class is the parent class.
#In child class, we can refer to parent class by using the super() function. 
#The super function returns a temporary object of the parent class that allows us to call a parent class method inside a child class method.
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

Jessa works at Google

# **Dynamically Add Instance Variable to a Object**
syntax: object_referance.variable_name = value

In [ ]:
class Student:
    def __init__(self, name, age):
        # Instance variable
        self.name = name
        self.age = age

# create object
stud = Student("Jessa", 20)

print('Before')
print('Name:', stud.name, 'Age:', stud.age)

# add new instance variable 'marks' to stud
stud.marks = 75
print('After')
print('Name:', stud.name, 'Age:', stud.age, 'Marks:', stud.marks)

Before
Name: Jessa Age: 20
After
Name: Jessa Age: 20 Marks: 75

In [ ]:
#Dynamically Delete Instance Variable
class Student:
    def __init__(self, roll_no, name):
        # Instance variable
        self.roll_no = roll_no
        self.name = name

# create object
s1 = Student(10, 'Jessa')
print(s1.roll_no, s1.name)

# del name
del s1.name
# Try to access name variable
print(s1.name)

10 Jessa

AttributeError: ignored

In [ ]:
class Student:
    def __init__(self, roll_no, name):
        # Instance variable
        self.roll_no = roll_no
        self.name = name

    def show(self):
        print(self.roll_no, self.name)

s1 = Student(10, 'Jessa')
s1.show()

# delete instance variable using delattr()
#delattr(s1, 'roll_no')
s1.show()

10 Jessa
10 Jessa

In [ ]:
#We can access instance variables of one class from another class using object reference.
class Vehicle:
    def __init__(self):
        self.engine = '1500cc'

class Car(Vehicle):
    def __init__(self, max_speed):
        # call parent class constructor
        super().__init__()
        self.max_speed = max_speed

    def display(self):
        # access parent class instance variables 'engine'
        print("Engine:", self.engine)
        print("Max Speed:", self.max_speed)

# Object of car
car = Car(240)
car.display()

Engine: 1500cc
Max Speed: 240

# **Reversed List**

In [ ]:
# Reversed numbers using reversed() function
list1 = [10, 20, 30, 40]
for num in reversed(list1):
    print(num)

40
30
20
10

In [ ]:
print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

In [ ]:
#Reverse a list using a loop
numbers = [1, 2, 3, 4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

In [ ]:
name = "Jessa"
for i in name[::-1]:
    print(i, end=' ')

a s s e J

In [ ]:
#Nested for loop to print the following pattern
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

# **Memoryview**
The memoryview is used to create a view of the internal data of an object without copying it. So with the help of memoryview we can see the same data in a different view.

To do this, we need a buffer protocol. The buffer protocol provides a way to access the internal data of an object. This internal data is a memory array or a buffer.

In Python bytes and bytearray are built-in objects that support the buffer protocol. So we can create memoryview on top of those objects.

In [ ]:
b_array = b'PYnative'
b_array_view = memoryview(b_array)  # creating memory view for bytes objects
print("view object: ", b_array_view)

view object:  <memory at 0x7fd2c1d21390>

In [ ]:
exp(2)

In [ ]:
a = 10+5j
b = 5 + 10j
c = a+b

In [ ]:
c

(15+15j)

In [ ]:
exp(2)

# **Exception Handling**
ZeroDivisionError: Occurs when a number is divided by zero.

NameError: It occurs when a name is not found. It may be local or global.

IndentationError: If incorrect indentation is given.

IOError: It occurs when Input Output operation fails.

EOFError: It occurs when the end of the file is reached, and yet operations are being performed.

In [ ]:
# 2 Blocks
# 1. try:
#{
  #Write the actual code  
##
#
#}
#2. Except:
#{We're handling the error here.}

In [ ]:
# import module sys to get the type of exception
try: #try Block  
    a = int(input("Enter a:"))    # Actual work.
    b = int(input("Enter b:"))   # Actual work 
    c = a/b  
    print(c)

except ZeroDivisionError:  
    print("Can't divide with zero")

Enter a:12

In [ ]:
#002# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except Exception as e:
        print("Oops!", e.__class__, "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [ ]:
#The try statement in Python can have an optional finally clause. 
#This clause is executed no matter what, and is generally used to release external resources.

In [ ]:
#Raising exceptions
#An exception can be raised forcefully by using the raise clause in Python. 
#It is useful in in that scenario where we need to raise an exception to stop the execution of the program.

#For example, there is a program that requires 2GB memory for execution, and if the program tries to occupy 2GB of memory, 
#then we can raise an exception to stop the execution of the program.

In [ ]:
try:    
    age = int(input("Enter the age:"))    
    if(age<18):    
        raise ValueError   
    else:    
        print("the age is valid")    
except ValueError:    
    print("The age is not valid")

Enter the age:17
The age is not valid

In [ ]:
class ErrorInCode(Exception):      
    def __init__(self, data):      
        self.data = data      
    def __str__(self):      
        return repr(self.data)      
      
try:      
    raise ErrorInCode(2000)      
except ErrorInCode as ae:      
    print("Received error:", ae.data)

# **Modules**
It refer to a file containing Python statements and definitions.

A file containing Python code, for example: example.py, is called a module, and its module name would be example.

In [ ]:
# Python Module example

def add(a, b):
   """This program adds two
   numbers and return the result"""

   result = a + b
   return result

In [ ]:
# import statement example
# to import standard module math

import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [ ]:
# import all names from the standard module math

from math import *
print("The value of pi is", pi)

The value of pi is 3.141592653589793

In [ ]:
import sys
sys.path

['',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

# Packages
We don't usually store all of our files on our computer in the same location. We use a well-organized hierarchy of directories for easier access.![PackageModuleStructure.webp]()

In [ ]:
#import Game.Level.start
#If this construct seems lengthy, we can import the module without the package prefix as follows:

In [ ]:
#from Game.Level import start

# **File handling**

In [ ]:
f = open("demofile2.txt")

In [ ]:
print(f.read())

Now the file has more content!

In [ ]:
#Write to an Existing File
#To write to an existing file, you must add a parameter to the open() function:

#"a" - Append - will append to the end of the file

#"w" - Write - will overwrite any existing content
#"x" - Create - will create a file, returns an error if the file exist

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

FileExistsError: ignored

In [ ]:
#Delete a File
#To delete a file, you must import the OS module, and run its os.remove() function:

FileNotFoundError: ignored

In [ ]:
#Check if File exist:
#To avoid getting an error, you might want to check if the file exists before you try to delete it:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist

In [ ]:
! pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
import threading

In [ ]:
#t1 = treading.Thread(target = "add",agrs())
#t1.srart()
#t1.join()